
$primary-color: #0e337e;
$primary-hover: #0c1e3f;
$secondary-color: #e63357;
$secondary-hover: #6a3829;
$background-color: #e0dede;
$card-bg: #9ba7c7;
$border-radius: 10px;
$text-light: #fff;

body {
  background-color: $background-color;
}

nav {
  background: $secondary-color;

  a {
    &:hover {
      border: solid 1px $secondary-hover;
    }
  }
} 

header {
  text-align: center;
  background: $primary-color;
  padding: 55px;

  h1 {
    font-weight: bold;
  }
}

footer {
  text-align: center;
  background: $primary-color;
  padding: 55px;
  color: $text-light;
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

#lightboxImage {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
}

#kartica, .card {
  background-color: $card-bg;
  border-radius: $border-radius;
}

.btn-primary {
  background: $primary-color;
  border: none;

  &:hover {
    background-color: $primary-hover;
  }
}
